.listprodect {
  margin-top: 50px;
  background-color: #dd5e4b;
  min-height: 100vh;

  .buy-list {
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: translate(0px, -10px);
    }
  }
}

.buy-product {
  display: flex;
  margin-top: 50px;
  justify-content: center;

  .buy-body {
    background-color: #01e6a111;
    margin: 20px;
    width: 100%;

    .buy-paper {
      margin: 10px;
      text-transform: capitalize;

      ul {
        margin-left: 20px;
        li {
          list-style-type: disc;
        }
      }

      button {
        border: none;
        outline: none;
        cursor: pointer;
        width: fit-content;
        margin: 10px;
        padding: 10px 50px;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: $loginbg;
        font-weight: 600;
        font-size: 22px;
        background-color: #dd5e4b;
      }
    }
  }

  .buy-body:nth-child(1) {
    width: fit-content;

    .buy-paper:nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
    }
  }
}

.negolist {
  padding: 20px;
  text-transform: capitalize;

  h2 {
    padding: 0 0 20px 0
  }

  .nego-li {
    display: flex;
    flex-wrap: wrap;

    &>* {
      margin: 5px;
      box-shadow: 0 0 10px rgba(155, 155, 155, 0.76);
      width: 300px;
    }
  }
}