@import "login.scss";
@import "home.scss";
@import "buy.scss";
@import "sell.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.loader {
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
