.listprodect {
    padding: 20px;
}

.home-container {
    width: 100%;

    .home-intro {
        background-image: url("/f3.jpg");
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: 40% 25%;
        background-position: fixed;
    }
}